@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --venus-white: #fff;
  --venus-primary: #181a2a;
  --venus-secondary: #67cba0;
  --venus-accent: #7b92b2;
  --venus-neutral: #4b6bfb;
  --venus-base: #fff;
  --venus-color3: #3abff8;
  --night-base: #1d283a;

  //   --venus-neutral-night: #f471b5;
  //   --venus-accent-night: #828df8;
  //   --venus-secondary-night: #3abff8;
  //   --venus-primary-night: #0e1525;
  --venus-primary-color: var(--venus-primary);
  --venus-color3-color: var(--venus-color3);
  --venus-white-color: var(--venus-white);
  --night-base-color: var(--night-base);

  // night color ;
  --venus-primary2: #0f1729;
  --venus-white: #fff;
  --night-gray: #b3c5ef;
  --venus-gray3: #ececec;

  --venus-secondary: #181a2a;
  --venus-green: #67cba0;
  --venus-graydark: #7b92b2;
  --venus-blue: #4b6bfb;
  --venus-skyblue: #3abff8;
  --night-primary: #1d283a;
  --night-color5: #0f1729;

  --venus-var-white: var(--venus-white);
  --night-var-gray: var(--night-gray);
  --night-gray3: var(--venus-gray3);
  --venus-var-secondary: var(--venus-secondary);
  --venus-var-green: var(--venus-green);
  --venus-var-graydark: var(--venus-graydark);
  --venus-var-blue: var(--venus-blue);
  --venus-var-skyblue: var(--venus-skyblue);
  --night-var-primary: var(--night-primary);
  --night-var-primary2: var(--night-primary2);
  --night-var-color5: var(--night-color5);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
}

::selection {
  color: #0d1117;
  background: #9e9e9e;
}

button,
input,
select {
  outline: none;
  border: none;
  padding: 0.4rem;
  font-family: var(--face);
}

option {
  font-family: var(--face);
}

i {
  display: grid;
  place-content: center;
}

a {
  text-decoration: none;
  color: initial;
}

body,
html {
  scrollbar-color: dark;
  &::-webkit-scrollbar {
    appearance: none;
    scrollbar-width: thin;
    width: 12px;
    scrollbar-color: rgba(199, 204, 203, 0.25) #212525;
  }
  &::-webkit-scrollbar-track {
    background: #212525;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(199, 204, 203, 0.25);
    border-radius: 20px;
    border: 3px solid #212525;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(199, 204, 203, 0.375);
    border-width: 2px;
  }
}

// text color
.text_white {
  color: var(--venus-white);
}

.text_gray {
  color: var(--night-gray);
}

.text_secondary {
  color: var(--venus-secondary);
}

.text_green {
  color: var(--venus-green);
}

.text_graydark {
  color: var(--venus-graydark);
}

.text_blue {
  color: var(--venus-blue);
}

.text_skyblue {
  color: var(--venus-skyblue);
}

.text_primary {
  color: var(--night-primary);
}
.text_night_var_gray {
  color: var(--night-var-gray) !important;
}

// background color
.bg_white {
  background: var(--venus-white);
}

.bg_gray {
  background: var(--night-gray);
}

.bg_secondary {
  background: var(--venus-secondary);
}

.bg_green {
  background: var(--venus-green);
}

.bg_graydark {
  background: var(--venus-graydark);
}

.bg_blue {
  background: var(--venus-blue);
}

.bg_skyblue {
  background: var(--venus-skyblue) !important;
}

.bg_primary {
  background: var(--night-primary);
}
.bg_night-var-color5 {
  background: var(--night-var-color5) !important;
}

.container,
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container {
  max-width: 1400px;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.vts,
.vts-1,
.vts-10,
.vts-11,
.vts-12,
.vts-2,
.vts-3,
.vts-4,
.vts-5,
.vts-6,
.vts-7,
.vts-8,
.vts-9 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.vts-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.vts-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.vts-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.vts-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.vts-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.vts-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.vts-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.vts-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.vts-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}
.vts-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
.vts-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
.vts-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

// display
.d-flex {
  display: flex;
}
.justfiy_content_center {
  justify-content: center;
}
.justify-content-spacebetween {
  justify-content: space-between;
}
.align_items_center {
  align-items: center;
}

// font size
.font_size12 {
  font-size: 12px;
}
.font_size13 {
  font-size: 13px;
}
.font_size14 {
  font-size: 14px;
}
.font_size15 {
  font-size: 15px;
}
.font_size16 {
  font-size: 16px;
}
.font_size17 {
  font-size: 17px;
}
.font_size18 {
  font-size: 18px;
}
.font_size19 {
  font-size: 19px;
}
.font_size20 {
  font-size: 20px;
}
.font_size21 {
  font-size: 21px;
}
.font_size22 {
  font-size: 22px;
}
.font_size23 {
  font-size: 23px;
}
.font_size24 {
  font-size: 24px;
}
.font_size25 {
  font-size: 25px;
}
.font_size26 {
  font-size: 26px;
}
.font_size27 {
  font-size: 27px;
}
.font_size28 {
  font-size: 28px;
}
.font_size29 {
  font-size: 29px;
}
.font_size30 {
  font-size: 31px;
}
.font_size31 {
  font-size: 31px;
}
.font_size32 {
  font-size: 32px;
}
.font_size33 {
  font-size: 33px;
}
.font_size34 {
  font-size: 34px;
}
.font_size35 {
  font-size: 35px;
}
.font_size36 {
  font-size: 36px;
}
.font_size37 {
  font-size: 37px;
}
.font_size38 {
  font-size: 38px;
}
.font_size40 {
  font-size: 40px;
}
.font_size41 {
  font-size: 41px;
}
.font_size42 {
  font-size: 42px;
}
.font_size43 {
  font-size: 43px;
}
.font_size44 {
  font-size: 44px;
}
.font_size45 {
  font-size: 45px;
}
.font_size46 {
  font-size: 46px;
}
.font_size47 {
  font-size: 47px;
}
.font_size48 {
  font-size: 48px;
}
.font_size49 {
  font-size: 49px;
}
.font_size50 {
  font-size: 50px;
}

.font-w100 {
  font-weight: 100;
}
.font-w200 {
  font-weight: 200;
}
.font-w300 {
  font-weight: 300;
}
.font-w400 {
  font-weight: 400;
}
.font-w500 {
  font-weight: 500;
}
.font-w600 {
  font-weight: 600;
}
.font-w700 {
  font-weight: 700;
}
.font-w800 {
  font-weight: 800;
}
.font-w900 {
  font-weight: 900;
}

// button style
.button_size1 {
  padding: 15px 45px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.text_center {
  text-align: center;
}
.text_right {
  text-align: right;
}
.text_left {
  text-align: left;
}
.text_justfiy {
  text-align: justify;
}

.heading2 {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 44px;
}

.p-20 {
  padding: 20px 0;
}
.p-50 {
  padding: 50px 0;
}
.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pl-0 {
  padding-left: 0px;
}
.pr-0 {
  padding-right: 0px;
}
.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}
.bookmarked {
  background-color: #9b59b6 !important;
  border-radius: 24px !important;
  border-color: #9b59b6 !important;
  color: #fff !important;
  position: relative;
}
.attempted {
  border-radius: 20px 20px 0 0 !important;
  background-color: #27ae60 !important;
  color: #fff !important;
  border-color: #27ae60 !important;
}
.skipped {
  border-radius: 0 0 20px 20px !important;
  background-color: #c0392b !important;
  border-color: #c0392b !important;
  color: #fff !important;
}
.attempted.bookmarked {
  background-color: #9b59b6 !important;
  border-radius: 24px !important;
  border-color: #9b59b6 !important;
  color: #fff !important;
  position: relative;
}
.attempted.bookmarked::after {
  content: "";
  position: absolute;
  border-color: #27ae60;
  border-style: solid;
  border-width: 0 0.3em 0.3em 0;
  height: 1em;
  top: -0.375em;
  right: 0;
  transform: rotate(45deg);
  width: 0.5em;
}
.label {
  background: #fff;
  width: 25px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #333;
  color: #333;
  font-size: 14px;
  font-weight: 500;
}
.badge {
  display: inline-block;
  min-width: 10px;
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #777;
  border-radius: 10px;
  padding: 5px 10px;
}
.bg_red {
  background-color: #c0392b !important;
  border-color: #c0392b !important;
  color: #fff !important;
}
.bg_green {
  background-color: #1f9c54 !important;
  border-color: #1f9c54 !important;
  color: #fff !important;
}
.bg_warrning {
  border-color: #ffd03b !important;
  background-color: #ffd03b !important;
  color: #fff !important;
}
.bg_white2 {
  border-color: #000 !important;
  background-color: #ffffff !important;
  color: #000 !important;
}

/* ------------------------------ */
.header {
  display: flex;
  justify-content: space-between;
  background: #059ac4;
  color: #fff;
  padding: 12.5px 0px;
  align-items: center;
  font-family: sans-serif;
}

.header .leftbox {
  padding-left: 32px;
}

.header .leftbox ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
}

.header .leftbox ul li.icon {
  line-height: 0;
}

.header .leftbox ul li.text .text1 {
  font-size: 16px;
  font-weight: 500;
}
.header .leftbox ul li.text .text2 {
  font-weight: 400;
  font-size: 12px;
}

.inline-feedback {
  display: flex;
  background: #0091bc;
  align-items: center;
  padding: 5px 10px;
  border-radius: 8px;
  gap: 15px;
}

.inline-feedback .inline-feedbacktext {
  font-weight: 300;
  font-size: 12px;
}

.inline-feedback ul {
  display: flex;
  list-style: none;
  line-height: 0;
}

.header .rightbox .box {
  display: flex;
  align-items: center;
  gap: 15px;
}

.analy a {
  background: rgba(0, 0, 0, 0.05);
  color: #fff;
  padding: 22px 13px !important;
  text-align: center;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.05);
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}

.timer {
  background: #fff;
  color: #000;
  padding: 4px 10px;
  border-radius: 8px;
}

.inline-feedback ul li {
  line-height: 0px;
  margin-top: 3px;
}
.inline-feedback ul li svg {
  width: 20px;
  height: 20px;
}

/*  mid----------------------- */

.seriebox {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 62px;
  bottom: 0;
  background-color: #fff;
  overflow-x: hidden;
  font-family: sans-serif;
}

/* // left secton
// top header */

.seriebox {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 62px;
  bottom: 0;
  background-color: #fff;
  overflow-x: hidden;
}

.seriebox .leftsection {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin-right: 300px;
  z-index: 1;
}

.seriebox .rightsection {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  border-left: 1px solid #ddd;
  background: #fff;
  z-index: 41;
}

.actual_exam_ui_top {
  background: #f9f9f9;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  align-items: center;
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
}

.actual_exam_ui_top .left {
  display: flex;
  gap: 15px;
  font-size: 13px;
  text-transform: uppercase;
}
.actual_exam_ui_top .left .text {
  border-right: 1px solid #ddd;
  padding-right: 10px;
}
.actual_exam_ui_top .right {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
}
.actual_exam_ui_top .right .dropdown {
  border: 1px solid #ddd;
  background-color: #fff;
  /* padding: 3px; */
}
.actual_exam_ui_top .left .button a {
  background: #166a84;
  padding: 6px 45px;
  border-radius: 2px;
  color: #fff;

  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

/* // ------------------------
// mainboxtop */

.mainboxtop {
  display: flex;
  justify-content: space-between;
  padding: 15px 16px;
  border-bottom: 1px solid #ececec;
}

.mainboxtop .left {
  display: flex;
  gap: 5px;
  font-size: 15px;
  align-items: center;
}
.mainboxtop .left .tp-ques-number {
  font-weight: 700;
  white-space: nowrap;
  border-right: 1px solid #ddd;
  padding-right: 10px;
}
.mainboxtop .left .outtimging {
  display: flex;
  gap: 7px;
  align-items: center;
  font-size: 12px;
  span {
    color: #6b747c;
  }
  .marking {
    border-left: 1px solid #ddd;
    padding-left: 10px;
    margin-left: 5px;
  }
}

.mainboxtop .right {
  display: flex;
  gap: 10px;
}

.mainboxtop .left .outtimging .marking span {
  margin-left: 5px;
}

.mainboxtop .right a {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #5a6779;
}

/* // Userandfillter */

.userandfillter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 10px;
  font-size: 15px;
  text-transform: capitalize;
  background: #d9edf7;
  color: #1d283a;
  border-bottom: 1px solid #ddd;
}

.userandfillter ul.user {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 5px;
}

.userandfillter ul.user li.image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1fbad6;
}

.userandfillter ul.user li.image svg {
  fill: #ececec;
  width: 20px;
}

.userandfillter .fillter {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #495563;
}

/* // results Box */

ul.results {
  padding: 10px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  gap: 10px;
  border-bottom: 1px solid #ececec;
  background: #d9edf7;
}

ul.results li {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 11px;
  font-family: sans-serif;
}

ul.results span {
  padding: 0 5px;
  font-size: 10px;
  border: 1px solid;
}

.heading {
  background: #b4dbed;
  color: #333;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 400;
}
/* Qarbox */
ul.Qarbox {
  display: grid;
  gap: 10px;
  list-style: none;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  align-items: center;
  /* margin-top: 15px; */
  padding: 20px 20px;
  background: #d9edf7;
}

ul.Qarbox li {
  border: 1px solid #000;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actionbtnresult {
  padding: 10px;
  display: flex;
  gap: 10px;
  border-top: 1px solid #ececec;
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #fff;
}

.actionbtnresult button {
  flex: 1;
  width: 100%;
  padding-left: 20px !important;
  padding-right: 20px !important;
  background: #a9d0f5 !important;
  border: 1px solid #92c4f2;
  color: #333;
  padding: 6px 12px !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

.actionbtnresult div {
  width: 100%;
}

.detailed_question {
  /* position: absolute; */
  top: auto;
  left: 0;
  right: 0;
  bottom: -13px;
  overflow-y: auto;
  padding: 10px 16px;
}
.detailed_question .que_ans_box .que_box {
  font-size: 16px;
  font-weight: 300;
  color: #333;
}

.detailed_question .que_ans_box .que_option {
  margin-top: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 15px;
  font-weight: 300;
}
.detailed_question .que_ans_box .que_option li {
  label {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 15px;
    width: 100%;
    font-size: 15px;
    padding: 12px 15px 12px 15px;
    border: 1px solid transparent;
    cursor: pointer;
    &:hover {
      background: #f9f9f9;
      border-color: #f2f2f2;
    }
  }
}
.detailed_questionfooter {
  display: flex;
  justify-content: space-between;
  background: #ececec;
  padding: 10px 16px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.detailed_questionfooter button {
  padding-left: 20px !important;
  padding-right: 20px !important;
  background: #a9d0f5 !important;
  border: 1px solid #92c4f2;
  color: #333;
  padding: 6px 12px !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

// -----------------------------------
.boxdesign22 {
  display: flex;
  align-items: center;
  gap: 30px;
}
.boxdesign22 .contentbox {
  position: relative;
  max-width: 280px;
  padding: 21px;
  border-radius: 30px;
}
.boxdesign22 .contentbox .heading {
  background: #b3c5ef;
  border-radius: 30px;
  padding: 10px 20px;
  width: fit-content;
  margin-bottom: 15px;
  font-weight: 800;
  color: #0f1729;
}

.boxdesign22 .contentbox p {
  font-size: 13px;
  color: #b3c5ef;
  font-weight: 200;
  font-family: sans-serif;
}

.boxdesign22 .contentbox p b {
  display: block;
  margin-top: 15px;
}

.awardsection {
  .even {
    position: relative;
  }
  .odd {
    position: relative;
    text-align: right;
    margin-top: 130px;
    .heading {
      margin-left: auto;
      margin-right: 0;
    }
    .contentbox {
      background: #ffffff26;
    }
  }
}
