.banersection {
  position: relative;
  background: var(--night-var-color5);
  height: 500px;
  display: flex;
  align-items: center;
  h1 {
    color: var(--night-gray3);
    font-weight: 500;
    font-size: 50px;
    line-height: 63px;
    margin-bottom: 30px;
  }
  h2 {
    color: var(--night-gray3);
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    padding-bottom: 20px;
  }
  .bannerform {
    input {
      border-bottom: 1px solid #ffffff;
      font-weight: 300;
      font-size: 24px;
      line-height: 25px;
      width: 100%;
      background: transparent;
      color: var(--venus-var-white);
      margin-bottom: 50px;
      &::placeholder {
        color: var(--venus-var-white);
        opacity: 0.5;
      }
    }

    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    // background: url(../public/svg/bannerimage.svg);
    background-size: 100% 100%;
  }
  .bannerimage {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.productbox1 {
  padding-left: 15px;
  padding-right: 15px;
  background: #f4f7fa;
  .rowsection {
    align-items: center;
  }
  .contentbox {
    // padding: 105px 4%;
    // min-height: 700px;
    // -webkit-box-orient: vertical;
    // -webkit-box-direction: normal;
    // -webkit-flex-direction: column;
    // -ms-flex-direction: column;
    // flex-direction: column;
    // -webkit-box-pack: justify;
    // -webkit-justify-content: space-between;
    // -ms-flex-pack: justify;
    // justify-content: space-between;
    .buttonsection {
      a {
        display: flex;
        align-items: center;
        color: var(--venus-var-skyblue);
        font-weight: 500;
        gap: 5px;
        &:hover {
          svg {
            margin-left: 15px;
            transition: all 0.5s;
          }
        }
        svg {
          margin-left: 0px;
          transition: all 0.5s;
        }
      }
    }
    h2 {
      margin-bottom: 20px;
      font-size: 40px;
      line-height: 1.1;
      font-weight: 500;
      color: var(--night-var-color5);
    }
    p {
      color: var(--night-var-color5);
      font-size: 15px;
      line-height: 1.5em;
      font-weight: 400;
      margin-bottom: 20px;
    }
    ul {
      list-style: none;
      margin-bottom: 20px;
      li {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 15px;
        margin-bottom: 5px;
      }
    }
  }
  // .bg_image1 {
  //   background: url("../public/images/bg_image1.jpg");
  //   background-position: 50% 50%;
  //   background-size: cover;
  //   background-repeat: no-repeat;
  // }
  // .bg_image2 {
  //   background: url("../public/images/bg_image1.jpg");
  //   background-position: 50% 50%;
  //   background-size: cover;
  //   background-repeat: no-repeat;
  // }
  // .bg_image3 {
  //   background: url("../public/images/bg_image1.jpg");
  //   background-position: 50% 50%;
  //   background-size: cover;
  //   background-repeat: no-repeat;
  // }
}

.boxdesign1 {
  position: relative;
  background: var(--night-var-color5);
  box-shadow: 7px 7px 6px 2px #e7e7e7;
  border-radius: 15px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  padding-top: 120px;
  margin-top: 150px;
  ul {
    position: relative;
    margin-left: 50px;
    li {
      position: relative;
      color: #b3c5ef;
      font-size: 14px;
    }
  }
  .image {
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    /* margin-bottom: 26px; */
    top: -140px;
    img {
      width: 100%;
      display: flex;
      flex: 1;
      top: 0;
      margin-top: 0;
    }
  }
  h3 {
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    line-height: 20px;
    color: #3abff8;
    margin-bottom: 30px;
    /* padding-top: 171px; */
  }
  p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: var(--night-var-gray);
    text-align: center;
  }
}

.awardsection {
  background: var(--night-var-color5);
  .boxdesign2 {
    background: #ffffff;
    border-radius: 8px;
    margin-bottom: 30px;
    padding: 60px 40px 60px 100px;
    display: flex;
    gap: 15px;
    align-items: center;
    border: 2px solid #fff;
    position: relative;
    .bigtext {
      position: absolute;
      font-size: 7em;
      line-height: 1em;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 55px;
      opacity: 0.3;
      font-weight: 700;
    }
    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: var(--night-var-color5);
    }
  }
  .callbtn {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20px;
  }
}

.section1 {
  .image {
    img {
      position: relative;
      width: 100%;
    }
  }

  .contentbox {
    h2 {
      position: relative;
      margin-bottom: 20px;
    }
    p {
      position: relative;
    }
  }
}
.testimonialsection {
  background: var(--night-var-primary);
  .testimonialbox {
    background: var(--night-var-primary);
    padding: 30px;
    border-radius: 8px;
    border: 1px solid transparent;
    .image {
      text-align: center;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto;
      display: block;
      border: 5px solid #ececec;
      box-shadow: 1px 1px 11px 2px #02050a;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        box-sizing: border-box;
        object-position: center center;
        background: var(--venus-var-white);
      }
    }
    .name {
      margin: 10px 0px;
      h4 {
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        color: var(--venus-var-skyblue);
      }
      h5 {
        text-align: center;
        font-size: 15px;
        font-weight: 400;
        color: var(--night-var-gray);
      }
    }
    .review {
      text-align: center;
      margin: 10px 0px;
      ul {
        display: flex;
        list-style: none;
        line-height: 0;
        margin: 0 auto;
        justify-content: center;
        li {
          svg {
            fill: #b97f0b;
          }
        }
      }
    }
    .content {
      color: var(--night-var-gray);
      text-align: center;
    }
    &:hover {
      border: 1px solid #2b3e5c;
    }
  }
}

ul.problembox {
  display: flex;
  list-style: none;
  position: relative;
  justify-content: center;
  padding: 0 0px;
  padding-bottom: 210px;
  li {
    height: 150px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: var(--night-var-primary);
    padding: 0 60px;
    &.topround {
      border-radius: 200px 200px 0 0;
    }
    &.bottomround {
      border-radius: 0px 0px 200px 200px;
    }
  }
}

ul.problembox li .big {
  width: 50px;
  height: 50px;
  background: #3abff8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: absolute;
}

ul.problembox li h5 {
  color: var(--night-var-gray);
  text-align: center;
  font-weight: 400;
  text-transform: capitalize;
}

ul.problembox li p {
  color: var(--night-var-gray);
  font-size: 9px;
  text-align: center;
}

ul.problembox li.topround .big {
  top: -25px;
  left: 0;
  right: 0;
}

ul.problembox li.bottomround .big {
  bottom: -25px;
  left: 0;
  right: 0;
}

ul.problembox li.bottomround {
  bottom: -150px;
  background: #3abff8;
}

ul.problembox li:nth-of-type(01) {
  left: 20px;
}

ul.problembox li:nth-of-type(02) {
  /* background: #000; */
}

ul.problembox li:nth-of-type(03) {
  left: -22px;
}

ul.problembox li:nth-of-type(04) {
  left: -43px;
}

ul.problembox li:before {
  content: "";
  border: 1px solid #cfcfcf;
  height: 128px;
  width: 280px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  border-style: dashed;
}
ul.problembox li.bottomround:before {
  border-radius: 0px 0px 200px 200px;
  border-top: 0;
  top: 60px;
}
ul.problembox li.topround:before {
  border-radius: 200px 200px 0 0;
  border-bottom: 0;
  margin-bottom: -62px !important; /* transform: translate(10px, 10px); */ /* top: 10px; */ /* left: 0px; */
  top: 90px;
}

ul.problembox li.bottomround .big {
  background: var(--night-var-primary);
  color: #3abff8;
}

ul.problembox li.bottomround p {
  color: var(--night-var-primary);
}

ul.problembox li.bottomround h5 {
  color: var(--night-var-primary);
}

.testimonialsone {
  background: var(--night-var-color5);
}

.testimonialsoneslider {
  background: #3abff8;
  border-radius: 8px;
  padding: 30px;
  margin-bottom: 50px;
  position: relative;
}

.testimonialsoneslider p {
  color: var(--night-var-color5);
  font-size: 15px;
}

.testimonialsoneslider .imagewithtext {
  display: flex;
  align-items: center;
  margin-top: 30px;
  gap: 15px;
  /* border: 2px solid; */
}

.testimonialsoneslider .imagewithtext .image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #72cbf1;
}

.testimonialsoneslider .imagewithtext .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonialsoneslider .imagewithtext .name h4 {
  color: var(--night-var-color5);
}

.testimonialsoneslider .imagewithtext .name h5 {
  color: #ffff;
  font-weight: 400;
}

.testimonialsoneslider:before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M4.583 17.321C3.553 16.227 3 15 3 13.011c0-3.5 2.457-6.637 6.03-8.188l.893 1.378c-3.335 1.804-3.987 4.145-4.247 5.621.537-.278 1.24-.375 1.929-.311 1.804.167 3.226 1.648 3.226 3.489a3.5 3.5 0 0 1-3.5 3.5c-1.073 0-2.099-.49-2.748-1.179zm10 0C13.553 16.227 13 15 13 13.011c0-3.5 2.457-6.637 6.03-8.188l.893 1.378c-3.335 1.804-3.987 4.145-4.247 5.621.537-.278 1.24-.375 1.929-.311 1.804.167 3.226 1.648 3.226 3.489a3.5 3.5 0 0 1-3.5 3.5c-1.073 0-2.099-.49-2.748-1.179z'/%3E%3C/svg%3E");
  position: absolute;
  z-index: 9;
  top: -25px;
  left: 12px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 50px;
}

.testimonialsoneslider:after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M19.417 6.679C20.447 7.773 21 9 21 10.989c0 3.5-2.457 6.637-6.03 8.188l-.893-1.378c3.335-1.804 3.987-4.145 4.247-5.621-.537.278-1.24.375-1.929.311-1.804-.167-3.226-1.648-3.226-3.489a3.5 3.5 0 0 1 3.5-3.5c1.073 0 2.099.49 2.748 1.179zm-10 0C10.447 7.773 11 9 11 10.989c0 3.5-2.457 6.637-6.03 8.188l-.893-1.378c3.335-1.804 3.987-4.145 4.247-5.621-.537.278-1.24.375-1.929.311C4.591 12.322 3.17 10.841 3.17 9a3.5 3.5 0 0 1 3.5-3.5c1.073 0 2.099.49 2.748 1.179z'/%3E%3C/svg%3E");
  position: absolute;
  z-index: 9;
  bottom: -25px;
  right: 12px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 50px;
}
// price table
.pricetable {
  background: var(--venus-var-white);
  border-radius: 15px;
  padding: 30px;

  .imagewithtext {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    .image {
      line-height: 0px;
      svg {
        fill: #3abff8;
      }
    }
    .text {
      font-size: 18px;
    }
  }
  .sug {
    font-size: 18px;
    color: hsl(240deg 7% 62%);
  }
  .price {
    display: flex;
    align-items: baseline;
    gap: 5px;
    color: var(--night-var-color5);
    margin-bottom: 20px;
    margin-top: 15px;
    .plan {
      font-size: 3em;
      line-height: 1em;
      display: flex;
      align-items: center;
      float: left;
      font-weight: 600;
      span {
        color: var(--venus-graydark);
      }
      .amount {
        font-size: 15px;
        font-weight: 600;
      }
    }
  }
}
.priceplan {
  display: flex;
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 40px;
  font-size: 20px;
  gap: 15px;
  align-items: center;
}
.priceplan .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.priceplan .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.priceplan .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.priceplan .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.priceplan input:checked + .slider {
  background-color: #3abff8;
}

.priceplan input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.priceplan input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.priceplan .slider.round {
  border-radius: 34px;
}

.priceplan .slider.round:before {
  border-radius: 50%;
}
.pricetable .content {
  margin-top: 25px;
  ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    li {
      width: 100%;
      display: flex;
      align-items: center;
      svg {
        fill: #3abff8;
        width: 24px;
      }
    }
  }
  h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }
}

.pricetable + .callbtn a {
  background: var(--night-primary);
  border-radius: 0px 0px 15px 15px;
  display: block;
  color: #fff;
  text-align: center;
  padding: 16px 0px;
}

// contact us
.getinquerybox {
  .inputbox {
    input {
      border-bottom: 2px solid var(--night-var-gray);
      font-weight: 500;
      font-size: 15px;
      line-height: 20px;
      width: 100%;
      height: 49px;
      background: transparent;
      color: var(--night-var-gray);
      margin-bottom: 30px;
      text-transform: capitalize;
    }
  }
}

.pricetablesection {
  background: #f4f7fa;
}
