// CONTAINER

.container {
  display: grid;
  place-content: center;
  background: #1d283a;
  min-height: 100vh;

  padding: 50px;
}

.details {
  gap: 28px;
  display: grid;
  text-align: center;
  h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 20px;

    text-transform: capitalize;
    color: #e7e7e7;
  }

  p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    text-transform: capitalize;
    color: #e7e7e7;
  }
}

.progreescount {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;

  text-transform: capitalize;

  color: #3abff8;
  text-align: right;
  margin-top: 34px;
}
.progrees {
  margin-top: 0px;
  margin-bottom: 51px;

  height: 10px;
  background: #e7e7e7;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  //   background-image: linear-gradient(90deg, #3abff8 20%, #e7e7e7);
  .loading {
    position: absolute;
    width: 30%;
    top: 0;
    left: 0;
    height: 10px;
    background: #3abff8;
    border-radius: inherit;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  .items {
    padding: 33px;
    border-radius: 15px;
    font-weight: 500;
    font-size: 25px;
    line-height: 20px;
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    border: 2px solid transparent;
    transition: all 150ms ease-in-out;
    background: #0f1729;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    user-select: none;
  }

  .items.active {
    border: 2px solid #3abff8;
  }
}

.qutbox {
  background: #0f1729;
  padding: 10px;
  margin-bottom: 10px;
  width: 400px;

  .heading {
    display: flex;
    justify-content: space-between;

    h4 {
      color: var(--night-var-gray);
      font-weight: 400;
    }
    a {
      color: hsl(242deg 88% 45%);
      font-size: 15px;
    }
  }
  .subheading {
    color: var(--night-var-gray);
    font-size: 12px;
    margin-top: 3px;
  }
  .innsubheading {
    color: var(--night-var-gray);
    font-size: 10px;
    margin-top: 3px;
  }

  .list {
    display: flex;
    overflow: auto;
    margin-right: -10px;
    gap: 15px;
    padding-bottom: 10px;
    margin-top: 10px;
    padding-right: 10px;
    li {
      text-align: center;
      color: var(--night-var-gray);
      font-size: 10px;
      list-style: none;
      transition: 0.5s all;

      .pass {
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: #1d283a;
        margin-bottom: 10px;
        cursor: pointer;
        &:hover {
          background: #0b1a3c;
          transition: 0.5s all;
        }
      }
    }
    scrollbar-color: dark;
    &::-webkit-scrollbar {
      appearance: none;
      scrollbar-width: thin;
      width: 8px;
      height: 8px;
      scrollbar-color: rgba(199, 204, 203, 0.25) #212525;
    }
    &::-webkit-scrollbar-track {
      background: #212525;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(199, 204, 203, 0.25);
      border-radius: 20px;
      border: 3px solid #212525;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: rgba(199, 204, 203, 0.375);
      border-width: 2px;
    }
  }
}
